[user]
	name = Daniel Robson
	email = danr.236@gmail.com

; include only if a remote with the given URL exists (note
; that such a URL may be provided later in a file or in a
; file read after this file is read, as seen in this example)
[includeIf "hasconfig:remote.*.url:https://example.com/**"]
    email = daniel.robson@ouster.io

[pull]
	rebase = true
